@use './shared.scss';
@use './text.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
//     font-family: "SF Pro";
//     font-style: normal;
//     font-weight: 300;
//     src: url("../fonts/SFProText-Light.ttf") format("truetype");
// }

@font-face {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SFProText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 510;
    src: url('../fonts/SFProText-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 590;
    src: url('../fonts/SFProText-Semibold.ttf') format('truetype');
}

// @font-face {
//     font-family: "SF Pro";
//     font-style: normal;
//     font-weight: 700;
//     src: url("../fonts/SFProText-Bold.ttf") format("truetype");
// }

@layer base {
    :root {
        --main-text-color: #000;
        --secondary-text-color: rgba(0, 0, 0, 0.5);
        --theme-color: #fff;
        --bg-secondary-color: rgba(0, 0, 0, 0.05);
        --bg-additional-color: rgba(0, 0, 0, 0.08);
        --border-color: rgba(0, 0, 0, 0.08);
    }

    .dark {
        --main-text-color: #fff;
        --secondary-text-color: rgba(255, 255, 255, 0.5);
        --theme-color: #000;
        --bg-secondary-color: rgba(255, 255, 255, 0.05);
        --bg-additional-color: rgba(255, 255, 255, 0.08);
        --border-color: rgba(255, 255, 255, 0.08);
    }
}

html,
body,
.app,
.layout,
#root {
    padding: 0;
    margin: 0;
    font-family: 'SF Pro', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 590;
    line-height: 24px;
    letter-spacing: -0.7px;
    color: var(--main-text-color);
    overflow-x: hidden;
    position: relative;
    background-color: var(--theme-color);
    overscroll-behavior: none;
    scroll-behavior: smooth;
    min-height: 100dvh;
}

html {
    max-width: 500px;

    @media only screen and (width > 500px) {
        margin: 0 auto;
    }
}

body {
    overflow-y: visible !important;
}

a,
button {
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: 'SF Pro', sans-serif;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
    transition: opacity 0.3s;
    display: inline-block;

    @media (hover: hover) {
        &:not(.no-hover):hover {
            opacity: 0.7;
        }
    }
}

input {
    outline: none !important;
    border: none;
    background-color: transparent;
    font-family: 'SF Pro', sans-serif;
    color: inherit;
    color: var(--main-text-color);

    &::placeholder {
        color: var(--secondary-text-color);
    }
}

ul {
    list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

img,
svg {
    pointer-events: none !important;
    -webkit-user-drag: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
